<div class='project'>
  <%= project.title %>
  <%= project.subtitle %>
  <%= project.description %>
  <%= project.date %>
  <% project.pictures.each do |picture| %>
    <%= image_tag picture.image.thumb('100x100').url %>
  <% end %>
</div>

